@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,400italic);

/* reset default stylings */
* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}
body { max-width: 960px; }
a:hover { color: Orange; }
a { color: Black; text-decoration: underline; }
ul li { list-style-type: none;}

.justify-right { text-align: right; }
.pull-right { float: right; }
.pull-left { float: left; }
.indent-text { text-indent: 2em; }

#header { padding: 1em; }
#header h1 { font-size: 2em; padding-bottom: .25em; }
#header h2 { font-size: 1em; font-weight: normal; }

#content-containter { margin-bottom: 100em; }
.content { padding: 0.5em 0 0.75em 0; }
.content h2 {
    border-bottom: 1px solid Black;
    margin-bottom: .5em;
    font-weight: normal;
    font-size: 1.5em;
}
.content h3 { font-size: 1.5em; }
.content h4 { margin-bottom: .25em; font-weight: normal; }
.content p { margin: 0.75em 0em 0em 0.75em; }

#nav-content { padding: 1.5em 0em 2em 3.5em; }
#nav-content img { padding-bottom: 2em; }
#nav-content h4 { margin-top: 3em; font-weight: normal; font-size: 1em; }
#nav-content h4+ul { padding-left: 1em; }

#footer {
    margin: 2em 0em;
    padding: 0.5em;
    font-size: 0.8em;
    border-top: 1px solid Black;    
}
#footer div { text-align: center; }