@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,400italic);

* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}


/* 
 * prevent prism.js from inserting those stupid scrolling boxes that don't
 * have a visual hint that there's more code not displayed.
 */
pre[class*='language-'] > code[data-language] { max-height: none; }


/*
 * wrestle some formatting control from foundation so prism.js will display
 * in the browser correctly.
 */
code {
    background-color: #272822;
    border: 0;
    color: White;
}


/* Reset some font sizes, colors, margins and paddings to my liking */
h1, h2, h3 { padding: 0; margin: 0; }
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1em; text-decoration: underline; }
section { margin-bottom: 2em; }
header { margin-bottom: 1em; }
footer { padding-top: 2em; font-size: 0.75em; }

.large-screen-nav {
    padding: 1em;
}

.archive-year { margin: 2em 0 0 0; }
.archive-year span {
    color: White;
    background-color: #333;
    padding: 1em 0.5em;
    border-radius: 50%;
}
.archive-year hr {
    position: relative;
    top: -1.5em;
    left: 0.5em;
    border: none;
    height: 3px;
    color: #333;
    background-color: #333;
}


