---
layout: default
---
<h1>Current Projects</h1>
<p>
    This is a brief list of projects that I'm currently working on in the limited
    amount of free time that I have. A large portion is technical in nature but 
    every so often an unrelated project sneaks in.
</p>

{% for project in site.data.projects.active %}
<div class="row">
    <div class="small-2 columns">
        <a class="th" href="{{ project.url }}">
            <img src="/assets/{{ project.thumbnail }}"></a>
    </div>
    <div class="small-10 columns">
        <h2><a href="{{ project.url }}">{{ project.name }}</a></h2>
        <div class="row">
            <div class="small-6 columns">
                <i class="fa fa-fw fa-tags"></i>&nbsp;
                {% for tag in project.tags %}
                    <span class="label">{{ tag }}</span>
                {% endfor %}
            </div>
            <div class="small-6 columns">
                <i class="fa fa-fw fa-legal"></i>&nbsp;{{ project.license }}
            </div>
        </div>
        <p>{{ project.description }}</p>
    </div>
</div>
{% endfor %}



<h1>Past Projects</h1>
<p>
    These are projects that I've actively stopped working on. If you are interested
    in reviving any of these projects, drop me a note at 
    <a href="mailto: dan@danhable.com">dan@danhable.com</a> and let's chat.
</p>

{% for project in site.data.projects.inactive %}
<div class="row">
    <div class="small-2 columns">
        <a class="th" href="{{ project.url }}">
            <img src="/assets/{{ project.thumbnail }}"></a>
    </div>
    <div class="small-10 columns">
        <h2><a href="{{ project.url }}">{{ project.name }}</a></h2>
        <div class="row">
            <div class="small-6 columns">
                <i class="fa fa-fw fa-tags"></i>&nbsp;
                {% for tag in project.tags %}
                    <span class="label">{{ tag }}</span>
                {% endfor %}
            </div>
            <div class="small-6 columns">
                <i class="fa fa-fw fa-legal"></i>&nbsp;{{ project.license }}
            </div>
        </div>
        <p>{{ project.description }}</p>
    </div>
</div>
{% endfor %}
