{:template-name "post"
 :resources []
 :data {:is-blog-post true
        :title "State of the Union: Application Logging"
        :tags ["architecture" "idea" "logging"]
        :posted #date "2011-01-20"
        :content #include "article.md"}}