{:deps    {com.atlassian.commonmark/commonmark                       {:mvn/version "0.16.1"}
           com.atlassian.commonmark/commonmark-ext-gfm-tables        {:mvn/version "0.16.1"}
           com.atlassian.commonmark/commonmark-ext-autolink          {:mvn/version "0.16.1"}
           com.atlassian.commonmark/commonmark-ext-gfm-strikethrough {:mvn/version "0.16.1"}
           com.atlassian.commonmark/commonmark-ext-heading-anchor    {:mvn/version "0.16.1"}
           com.atlassian.commonmark/commonmark-ext-ins               {:mvn/version "0.16.1"}
           selmer/selmer                                             {:mvn/version "1.12.31"}
           commons-io/commons-io                                     {:mvn/version "2.8.0"}
           com.cognitect.aws/api                                     {:mvn/version "0.8.484"}
           com.cognitect.aws/endpoints                               {:mvn/version "1.1.11.926"}
           com.cognitect.aws/s3                                      {:mvn/version "810.2.817.0"}
           prismatic/schema                                          {:mvn/version "1.1.12"}}

 :aliases {:test     {:extra-paths ["test"]
                      :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                               :sha     "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
                      :main-opts   ["-m" "cognitect.test-runner"]}
           :assemble {:main-opts ["-m" "danhable.berg.cli.assemble"]}
           :publish  {:main-opts ["-m" "danhable.berg.cli.publish"]}}
 }
