---
layout: default
---

{% for post in site.posts %}
    {% if forloop.index0 < 5 %}
        <section>
            <a href="{{ post.url }}"><h1>{{ post.title }}</h1></a>
            <p><i class="fa fa-fw fa-calendar"></i>&nbsp;{{ post.date | date_to_long_string }}</p>
            <p>{{ post.teaser }}</p>
            <div class="row">
                <div class="medium-4 columns">
                    <a href="{{ post.url }}">Read More&nbsp;&raquo;</a>
                </div>
                <div class="medium-8 columns">
                    <a href="{{ post.url }}#disqus_thread">Comments</a>
                </div>
            </div>
        </section>
    {% endif %}

    {% if forloop.index0 == 11 %}
        <div class="panel callout radius text-center">
            Looking for something more? <a href="/archives">Check out the entire archive</a>
        </div>
    {% endif %}                    
{% endfor %}

<script type="text/javascript">
var disqus_shortname = 'caffeinatedideas';

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
