---
layout: default
---
{% for post in site.posts %}
    {% if forloop.index0 < 11 %}
        <h2>{{ post.title }}</h2>
        <p>
            Posted on {{ post.date | date_to_string }}<br/>
            {% if forloop.first %}
                <!-- <span class="label">LATEST</span> -->
            {% endif %}
        </p>
        <p>{{ post.excerpt }}</p>
        <p><a href="{{ post.url }}">Read Full Text &raquo;</a></p>

        <hr/>
    {% endif %}

    {% if forloop.index0 == 11 %}
        <p>Looking for something more? <a href="/archives.html">Check out the entire archive &raquo;</a></p>
    {% endif %}                    
{% endfor %}