{:template-name "post"
 :resources []
 :data {:is-blog-post true
        :title "What Navy SEALs Can Teach Us About Software Development"
        :tags ["idea" "agile" "process"]
        :posted #inst "2011-05-09"
        :content #include "article.md"}}
