{:template-name "post"
 :resources []
 :data {:is-blog-post true
        :title "What herd behavior can teach us about how we estimate work"
        :tags ["engineering" "estimating"]
        :posted #date "2017-12-15"
        :content #include "article.md"}}
