{:template-name "post"
 :resources []
 :data {:is-blog-post true
        :title "Autowiring Akka Actors with Spring"
        :tags ["java" "concurrency"]
        :posted #date "2013-02-18"
        :content #include "article.md"}}