{% extends "_base.html" %}
{%block subtitle %}: {{post.title}}{% endblock %}
{% block content %}
<div id="post">
    {% include "post-content.html" %}

    <nav class="post-pagination-control">
      <ul class="pager">
        <li class="pager-prev {% if not post.prev %}disabled{% endif %}">
          <a href="{{post.prev.uri}}">&laquo; Newer</a>
        </li>
        <li class="pager-next {% if not post.next %}disabled{% endif %}">
          <a href="{{post.next.uri}}">Older &raquo;</a>
        </li>
      </ul>
    </nav>

    {% if disqus-shortname %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//{{disqus-shortname}}.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    {% endif %}
</div>
{% endblock %}
