{:template-name "post"
 :resources []
 :data {:is-blog-post true
        :title "This Week in Cats: Kleisli"
        :tags ["fp" "scala" "cats"]
        :posted #date "2021-04-09"
        :content #include "article.md"}}
