{:template-name "post"
 :resources ["1.png"
             "2.png"
             "3.png"]
 :data {:is-blog-post true
        :title "QThru: The Platform Architecture"
        :tags ["retrospective" "qthru" "startup"]
        :posted #date "2016-06-28"
        :content #include "article.md"}}
