{:template-name "post"
 :resources []
 :data {:is-blog-post true
        :title "Apple's Mountain Lion Up-to-Date Program"
        :tags ["ux" "rants"]
        :posted #date "2012-07-25"
        :content #include "article.md"}}