{:template-name "post"
 :resources []
 :data {:is-blog-post true
        :title "Rumination on Social Forces"
        :tags ["idea"]
        :posted #date "2012-01-27"
        :content #include "article.md"}}