<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/default.min.css">
  {% style "css/app.css" %}
</head>

<body>
    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
      <a class="navbar-brand" href="/">{{title}}&nbsp;&raquo;</a>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a href="{{index-uri}}" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="{{archives-uri}}" class="nav-link">Archives</a>
        </li>
        <li class="nav-item">
          <a href="http://www.danhable.com" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="{{rss-uri}}" class="nav-link">RSS</a>
        </li>
      </ul>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-3">

          <div class="card">
            <h3 class="card-header">Dan Hable</h3>
            <div class="card-block">
              <a href="http://twitter.com/dhable">
                <span class="fa-stack">
                  <i class="fa fa-fw fa-square-o fa-stack-2x"></i>
                  <i class="fa fa-fw fa-twitter fa-stack-1x"></i>
                </span>
              </a>
              <a href="https://www.linkedin.com/in/dhable">
                <span class="fa-stack">
                  <i class="fa fa-fw fa-square-o fa-stack-2x"></i>
                  <i class="fa fw-fw fa-linkedin fa-stack-1x"></i>
                </span>
              </a>
              <a href="https://github.com/dhable">
                <span class="fa-stack">
                  <i class="fa fa-fw fa-square-o fa-stack-2x"></i>
                  <i class="fa fa-fw fa-github-alt fa-stack-1x"></i>
                </span>
              </a>
              <a href="http://stackoverflow.com/users/67927/dan-hable">
                <span class="fa-stack">
                  <i class="fa fa-fw fa-square-o fa-stack-2x"></i>
                  <i class="fa fa-fw fa-stack-overflow fa-stack-1x"></i>
                </span>
              </a>
              <a href="">
                <span class="fa-stack">
                  <i class="fa fa-fw fa-square-o fa-stack-2x"></i>
                  <i class="fa fa-fw "></i>
                </span>
              </a>
            </div>
          </div>

          {% if latest-posts|not-empty %}
          <div class="card">
            <h3 class="card-header" style="margin-bottom: 0">Recent Posts</h3>
            <div class="list-group">
                {% for post in latest-posts %}
                <a href="{{post.uri}}" class="list-group-item">
                  <p class="list-group-item-heading">
                    <i class="fa fa-fw fa-caret-right"></i>
                    {{post.title}}
                  </p>
                  <p class="list-group-item-text text-smaller">
                    {{post.date}}
                  </p>
                </a>
                {% endfor %}
            </div>
          </div>
          {% endif %}

          <div class="card">
            <h3 class="card-header">Recent Plays</h3>
            <div class="list-group">
              <script language="javascript" src="http://boardgamegeek.com/jswidget.php?username=dhable&numitems=5&text=none&images=medium&show=recentplays&imagesonly=1&imagepos=left&domains%5B%5D=boardgame"></script>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="container">
      <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
          <span class="cc-image">
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
              <img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png"/>
            </a>
          </span>
          <span class="cc-text text-smaller">
            This work by
            <a xmlns:cc="http://creativecommons.org/ns#" href="http://caffeinatedideas.com"
               property="cc:attributionName" rel="cc:attributionURL">Daniel T. Hable</a>
            is licensed under a
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
              Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
          </span>
        </div>
        <div class="col-xs-4"></div>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    {% script "js/highlight.pack.js" %}
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
