{% extends "/html/base.html" %}
{% block content %}

<div class="card card-block">
  <h4 class="card-title">Caffeinated Ideas</h4>
  <i class="card-text">noun, plural</i>
  <p class="card-text">
    <ol>
      <li>Solutions to technical problems brainstormed during coffee breaks.</li>
      <li>Unrestricted &amp; creative thoughts that seem interesting and deserve further exploration.</li>
      <li>This blog maintained by <a href="http://danhable.com">Dan</a> since 2011.</li>
    </ol>
  </p>
</div>
<br/>
<br/>
<h3>Recent Posts</h3>
<br/>
<div class="card-deck-wrapper">
  <div class="card-deck">
    {% for post in posts %}
      <div class="card">
        <div class="card-block">
          <h4 class="card-title"><a href="{{post.uri}}">{{post.title}}</a></h4>
          <p class="card-text">{{post.content|safe}}</p>
          <p class="card-text"><small class="text-muted">Posted {{post.date|date:"yyyy MMM dd"}}</small></p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
