{% extends "/html/base.html" %}
{% block content %}

<div class="card card-block">
  <h4 class="card-title">Caffeinated Ideas</h4>
  <i class="card-text">noun, plural</i>
  <p class="card-text">
    <ol>
      <li>Solutions to technical problems brainstormed during coffee breaks.</li>
      <li>Unrestricted &amp; creative thoughts that seem interesting and deserve further exploration.</li>
      <li>This blog maintained by <a href="http://danhable.com">Dan</a> since 2011.</li>
    </ol>
  </p>
</div>
<br/>
{% for post in posts %}
  <div class="post-summary">
    <h5><a href="{{post.uri}}">{{post.title}}</a></h5>
    <small class="text-muted">Posted {{post.date|date:"yyyy MMM dd"}}</small>
    {{post.content|safe}}
    <a href="{{post.uri}}">Read More &raquo;</a>
  </div>
{% endfor %}

{% endblock %}
