{:template-name "post"
 :resources []
 :data {:is-blog-post true
        :title "Why Blog?"
        :tags ["education" "idea"]
        :posted #inst "2011-09-12"
        :content #include "article.md"}}