{:template-name "post"
 :resources []
 :data {:is-blog-post true
        :title "Desired Traits for Modern Software"
        :tags ["idea"]
        :posted #date "2011-01-19"
        :content #include "article.md"}}