<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% if data.title %}{{data.title}} &middot; {% endif %}{{site.title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700">
    <link rel="stylesheet" href="/css/poole.css">
    <link rel="stylesheet" href="/css/hyde.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <style>
        .sidebar-nav {margin: 3em auto;}
        .text-smaller {font-size: 75%;}
        .archive-year {border-bottom: 1px solid Black;}
        .archive-content {
            margin: 1em 0 2em 0;
            list-style: none;
        }
        .date {
            display: inline-block;
            min-width: 4em;
        }
        .alert {
            border: 1px solid #faf2cc;
            background-color: #fcf8e3;
            color: #8a6d3b;
            padding: 15px;
        }
    </style>
    <script src="https://use.fontawesome.com/921993f105.js"></script>
</head>

<body>
    <div class="sidebar">
        <div class="container sidebar-sticky">
            <div class="sidebar-about">
                <h1>
                    <a href="{{site.site-url}}">{{site.title}}</a>
                </h1>
                <p class="lead">
                    noun, plural
                    <ol>
                        <li>Solutions to technical problems brainstormed during coffee breaks.</li>
                        <li>Unrestricted & creative thoughts that seem interesting and deserve further exploration.</li>
                        <li>This blog maintained by Dan since 2011.</li>
                    </ol>
                </p>
            </div>

            <nav class="sidebar-nav">
                <a class="sidebar-nav-item" href="/">
                    <i class="fa fa-fw fa-home fa-2x" aria-hidden="true"></i>Home
                </a>
                <a class="sidebar-nav-item" href="https://github.com/dhable">
                    <i class="fa fa-fw fa-github-square fa-2x" aria-hidden="true"></i>Github
                </a>
                <a class="sidebar-nav-item" href="https://www.linkedin.com/in/dhable">
                    <i class="fa fa-fw fa-linkedin-square fa-2x" aria-hidden="true"></i>LinkedIn
                </a>
                <a class="sidebar-nav-item" href="http://danhable.com">
                    <i class="fa fa-fw fa-globe fa-2x" aria-hidden="true"></i>danhable.com
                </a>
            </nav>

            <p>
                <span class="cc-text text-smaller">This work by
                    <a xmlns:cc="http://creativecommons.org/ns#" href="http://caffeinatedideas.com"
                       property="cc:attributionName" rel="cc:attributionURL">Daniel T. Hable</a>
                    is licensed under a
                    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
                        Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
                </span>
                <span class="cc-image">
                    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
                        <img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png">
                    </a>
                </span>
            </p>
        </div>
    </div>

    <div class="content container">
        {% block content %}{% endblock %}
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60499107-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
