{% extends "_base.html" %}

{%block subtitle %}: Archives{% endblock %}

{% block content %}
  <div id="page-header">
      <h2>Archives</h2>
  </div>

  {% for group in groups %}
  <div class="container">
    <div class="row">
      <div class="col-md-12 archive-year">
        <i class="fa fa-calendar-o fa-fw"></i>
        {{group.group}}
      </div>
    </div>

    {% for post in group.posts %}
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">{{post.date|date:"MMM dd"}}</div>
        <div class="col-md-9">
          <a href="{{post.uri}}">{{post.title}}</a>
        </div>
      </div>
    {% endfor %}
  </div>
  {% endfor %}

{% endblock %}
