{% extends "_base.html" %}

{% block content %}
    {% with posts_by_year = site.pages|group-by-year %}
        {% for year, posts in posts_by_year|sort-reversed %}
            <h2 class="archive-year">
                <i class="fa fa-calendar-o fa-fw"></i>&nbsp;{{year}}
            </h2>
            <ul class="archive-content">
                {% for p in posts|nested-sort-by-reversed:data.posted %}
                <li>
                    <span class="date">{{p.data.posted|date:"MMM dd"}}</span>
                    <a href="{{p.url-path}}">{{p.data.title}}</a>
                </li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endwith %}
{% endblock %}
