{% extends "_base.html" %}

{% block content %}

<div class="post">
    <h1 class="post-title">{{data.title}}</h1>
    <div class="post-date">Posted on {{data.posted|date:longDate}}</div>
    {{data.content|safe}}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//caffeinatedideas.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>

</div>

{% endblock %}
