{% extends "_base.html" %}

{%block subtitle %}: {{page.data.title}}{% endblock %}
{% block content %}

<div id="post">
    <div class="post-header">
        <div id="post-meta" class="row">
            <div class="col-lg-6">{{page.date|date:longDate}}</div>
        </div>
        <h2>{{page.title}}</h2>
    </div>

    <div>
        {{page.content|safe}}
    </div>

    {% if page.tags|not-empty %}
    <div id="post-tags">
        <b>Tags: </b>
        {% for tag in page.tags %}
        <a href="{{tag.uri}}" class="label label-default">{{tag}}</a>
        {% endfor %}
    </div>
    {% endif %}

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//caffeinatedideas.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
</div>
{% endblock %}
