{:template-name "post"
 :resources []
 :data {:is-blog-post true
        :title "This Week in Cats"
        :tags ["fp" "scala" "cats"]
        :posted #date "2021-03-25"
        :content #include "article.md"}}
