{:template-name "post"
 :resources []
 :data {:is-blog-post true
        :title "Why You Need Macros"
        :tags ["languages" "patterns"]
        :posted #date "2015-08-06"
        :content #include "article.md"}}
