{:site-title         "Caffeinated Ideas"
 :author             "Dan Hable"
 :description        "Random thoughts on tech, beer and games fueled by too much coffee."
 :site-url           "http://caffeinatedideas.com"
 :post-root          "posts"
 :page-root          "pages"
 :post-root-uri      ""
 :page-root-uri      ""
 :tag-root-uri       "tags"
 :rss-name           "feed.xml"
 :rss-filters        ["cryogen"]
 :recent-posts       5
 :post-date-format   "yyyy-MM-dd"
 :archive-group-format "yyyy"
 :sass-src           nil
 :sass-dest          nil
 :theme              "2016"
 :resources          ["img"]
 :keep-files         [".git"]
 :disqus?            true
 :disqus-shortname   "caffeinatedideas"
 :ignored-files      [#"\.#.*" #".*\.swp$"]
 :posts-per-page     5
 :blocks-per-preview 2
 :previews?          false}
