{:template-name "post"
 :resources []
 :data {:is-blog-post true
        :title "Software QA: What the heck are they verifying?"
        :tags ["testing" "process"]
        :posted #inst "2011-01-09"
        :content #include "article.md"}}