{:template-name "post"
 :resources []
 :data {:is-blog-post true
        :title "Structuring and Naming Unit Tests"
        :tags ["java" "testing" "agile"]
        :posted #date "2012-03-29"
        :content #include "article.md"}}