{:template-name "post"
 :resources ["all_cert_swap.png"
             "ca_cert_swap.png"
             "google_cert.png"
             "l2_cert_swap.png"]
 :data {:title "Superfish Highlights the SSL Problem"
        :tags ["security"]
        :content #include "article.md"}}
