{:template-name "post"
 :resources []
 :data {:is-blog-post true
        :title "Scala's foldLeft Operator Demystified"
        :tags ["scala"]
        :posted #date "2020-05-07"
        :content #include "article.md"}}
