{:template-name "post"
 :resources []
 :data {:is-blog-post true
        :title "RIP LandlordCompanion.com"
        :tags ["startup"]
        :posted #inst "2012-06-28"
        :content #include "article.md"}}