{:template-name "post"
 :resources {}
 :data {:is-blog-post true
        :title "Documenting ReST - Part 2"
        :tags ["tools" "clojure"]
        :posted #inst "2012-09-07"
        :content #include "article.md"}}