{:template-name "post"
 :resources []
 :data {:is-blog-post true
        :title "TIL Culture Matters"
        :tags ["startup" "qthru"]
        :posted #date "2014-01-13"
        :content #include "article.md"}}