{:template-name "post"
 :resources []
 :data {:is-blog-post true
        :title "ORM Rant, Continued"
        :tags ["database" "architecture" "rant"]
        :posted #date "2012-05-24"
        :content #include "article.md"}}