{:template-name "post"
 :resources ["nosql.png"
             "springmvc.png"]
 :data {:is-blog-post true
        :title "Smarter Architectures with NoSQL"
        :tags ["idea"]
        :posted #inst "2013-06-16"
        :content #include "article.md"}}