{:template-name "post"
 :resources []
 :data {:is-blog-post true
        :title "What's a Caffeinated Idea?"
        :tags ["commentary" "idea"]
        :posted #inst "2011-01-04"
        :content #include "article.md"}}