<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %} {{ page.title }} - {% endif %}{{ site.name }}</title>
    <link href="/css/normalize.css" type="text/css" rel="stylesheet">
    <link href="/css/foundation.min.css" type="text/css" rel="stylesheet">
    <link href="/css/prism.css" rel="stylesheet" type="text/css">
    <link href="/css/caffeinatedideas.css" type="text/css" rel="stylesheet">

    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  </head>

  <body>
    <div class="row">
      <div class="large-3 columns">
        <h1>
          <img src="http://placehold.it/400x200&text=Logo" />
        </h1>
      </div>
      <div class="large-9 columns">
        <h1>{{ site.name }}</h1>
        <p>{{ site.description }}</p>
        <br/>
      </div>
    </div>
    
    <div class="row">        
      <div class="large-9 push-3 columns">        
        {{content}}
      </div>

      <div class="large-3 pull-9 columns">
        <ul class="side-nav">
          <li><a href="{{ site.url }}">Home</a></li>
          <li><a href="/archives.html">All Posts</a></li>
          <!--<li><a href="/projects.html">Projects</a></li>-->
          <!--<li><a href="/radar.html">My Tech Radar</a></li>-->
          <li><a href="/bio.html">About Dan</a></li>
        </ul>
        
      </div>    
    </div>
  
    <footer class="row">
      <div class="large-12 columns">
        <hr />
        <div class="row">
          <div class="large-6 columns">
            <p>
              <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
              <img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png"/>
              </a>
              <br/>
              This work by 
              <a xmlns:cc="http://creativecommons.org/ns#" href="http://caffeinatedideas.com" property="cc:attributionName" rel="cc:attributionURL">
              Daniel T. Hable
              </a> 
              is licensed under a 
              <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
              Creative Commons Attribution-ShareAlike 3.0 Unported License
              </a>.
            </p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="https://twitter.com/dhable"><img src="/img/twitter.png"/></a></li>
              <li><a href="http://www.linkedin.com/in/dhable/"><img src="/img/linkedin.png"/></a></li>
              <li><a href="http://stackoverflow.com/users/67927/dan"><img src="/img/stackoverflow.png"/></a></li>
              <li><a href="https://github.com/dhable"><img src="/img/github.png"/></a></li>
              <li><a href="http://plus.google.com/+DanHable"><img src="/img/gplus2.png"></a></li>
              <li><a href="/feed.xml"><img src="/img/rss.png"/></a></li>
            </ul>
          </div>
        </div>
      </div> 
    </footer>
   
  </body>
</html>
