<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title %} {{ page.title }} - {% endif %}{{ site.name }}</title>
        <link href="/css/normalize.css" type="text/css" rel="stylesheet">
        <link href="/css/foundation.min.css" type="text/css" rel="stylesheet">
        <link href="/css/prism.css" rel="stylesheet">
        <link href="/css/caffeinatedideas.css" type="text/css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    </head>

    <body>
        <aside class="left col">
            <h1>{{ site.name }}</h1>
            <h2>{{ site.description }}</h2>

            <nav>
                <ul class="side-nav">
                    <li>
                        <a href="/">
                            <i class="fa fa-fw fa-home"></i>&nbsp;Home</a>
                    </li>

                    <li>
                        <a href="/archives">
                            <i class="fa fa-fw fa-archive"></i>&nbsp;Post Archives</a>
                    </li>

                    <li>
                        <a href="/projects">
                            <i class="fa fa-fw fa-code-fork"></i>&nbsp;Project List</a>
                    </li>

                    <li>
                        <a href="/feed.xml">
                            <i class="fa fa-fw fa-rss"></i>&nbsp;RSS Feed</a>
                    </li>

                    <li>
                        <a href="http://danhable.com">
                            <i class="fa fa-fw fa-user"></i>&nbsp;About Dan Hable</a>
                    </li>
                </ul>
            </nav>
        </aside>

        <section id="page-content" class="right col scroll-y">
            {{ content }}
        
            <footer class="text-center">
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
                    <img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png"/></a>
                <br/>
                This work by 
                <a xmlns:cc="http://creativecommons.org/ns#" href="http://caffeinatedideas.com" 
                    property="cc:attributionName" rel="cc:attributionURL">Daniel T. Hable</a> 
                is licensed under a 
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
                    Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
            </footer>
        </section>

        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="/js/prism.js"></script>
        <script src="/js/prism.clojure.js"></script>
    </body>
</html>
