{:template-name "post"
 :resources []
 :data {:is-blog-post true
        :title "Breaking Statically Typed Languages"
        :tags ["rants"]
        :posted #inst "2014-08-14"
        :content #include "article.md"}}